html.forest-green,
.settings-theme-preview__forest-green {
  --background-primary: #081c15;
  --background-secondary: #1b4332;
  --highlight-color: #40916c;
  --icon-color: #74c69d;
  --text-color: #ffffff;
}

html.theme-1,
.settings-theme-preview__theme-1 {
  --background-primary: #073b4c;
  --background-secondary: #118ab2;
  --highlight-color: #06d6a0;
  --icon-color: #ef476f;
  --text-color: #ffd166;
}

html.theme-2,
.settings-theme-preview__theme-2 {
  --background-primary: #22223b;
  --background-secondary: #4a4e69;
  --highlight-color: #9a8c98;
  --icon-color: #f2e9e4;
  --text-color: #c9ada7;
}
